nav > h1 {
    color: #cc0000;;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 0 -1px 0 #000000,
    0 -1px 0 #000000,
    0 1px 0 #000000,
    0 1px 0 #000000,
    -1px 0 0 #000000,
    1px 0 0 #000000,
    -1px 0 0 #000000,
    1px 0 0 #000000,
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000,
    -1px 3px 0 #000000,
    0 3px 0 #000000,
    1px 3px 0 #000000,
    0 3px 1px rgba(0, 0, 0, .1),
    0 0 1px rgba(0, 0, 0, .1),
    0 1px 1px rgba(0, 0, 0, .3),
    0 2px 1px rgba(0, 0, 0, .2),
    0 3px 3px rgba(0, 0, 0, .25),
    0 4px 4px rgba(0, 0, 0, .2),
    0 6px 6px rgba(0, 0, 0, .15);
}

body {
    background-color: #303030;
    color: #fff;
    align-items: center;
    min-width: auto;
}

#randomizer {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: hidden;
}

#realm-name {
    font-weight: bold;
    margin-top: 1rem;
    justify-content: center;
    align-content: center;
}

#realm-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
    max-width: 526px;
    max-height: 350px;
    justify-content: center;
    align-content: center;
}

#offering-image {
    width: 80px;
    height: 80px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}